* {
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: auto;
    border: rgb(106, 107, 107) solid 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

h2 {
    background-color: #cfd5da;
    color: white;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}

header {
    background-color: grey;
    color: white;
}

h1 {
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
    margin: 0;
}

section,
aside {
    float: left;
    padding: 15px;
}

section {
    width: 25%;
}

main {
    height: 700px;
}

main:after {
    content: "";
    clear: both;
    display: table;
}

aside {
    width: 75%;
}

section {
    width: 25%;
}

.wrapp {
    display: flex;
    height: 100px;
    justify-content: center;
    font-size: 25px;
}

.wrapp__element {
    width: 180px;
    border: rgb(43, 43, 20);
    align-self: center;
}

a {
    text-decoration: none;
    color: white;
}

img .wrapp__element {
    width: 20%;
    margin: auto;
}

span {
    font-weight: bold;
}

footer {
    background-color: grey;
    color: white;
    padding: 15px;
}